<!-- 宣告我們要套用模板 -->
{% extends "detemplate.html" %}

{% block title %}{{ TravelName }}{% endblock %}
{% block title_TName %}{{ TravelName }}{% endblock %}


{% block detailBlock %}
<div class="detail">
    <p class="detail_name">{{ d1Name }}</p>
    <div class="detail_text">
        <p class="detail">景點評價：{{ d1Quality }}</p>
        <p class="detail">連絡電話：{{ d1Tele }}</p>

        <p class="detail">營業時間：
        {% for openTimeAll in opT %}
            <p class="detail_time">{{ openTimeAll }}</p>
        {% endfor %}

        <p class="detail">景點地址：{{ d1Address }}</p>
        
        <a href="http://127.0.0.1:80/{{ url }}">
            <p class="back">↩回上一頁</p>
        </a>
    </div>
</div>
{% endblock %}




<!-- ------------------------------------------------------- -->


<div class="detail">
    <img src="/static/images/detail1.jpg" style="display:block; margin:auto;" />
    <p class="detail_name"></p>
    <div class="detail_text">
        <p class="detail">景點評價：4.5/5</p>
        <p class="detail">連絡電話：02 2343 1100</p>
        <p class="detail">營業時間：星期一 09:00–18:00</p>
        <p class="detail_time">星期二 09:00–18:00</p>
        <p class="detail_time">星期三 09:00–18:00</p>
        <p class="detail_time">星期四 09:00–18:00</p>
        <p class="detail_time">星期五 09:00–18:00</p>
        <p class="detail_time">星期六 09:00–18:00</p>
        <p class="detail_time">星期日 09:00–18:00</p>
        <p class="detail">景點地址：100台北市中正區中山南路21號</p>
        <a href="/">
            <p class="back">↩回上一頁</p>
        </a>
    </div>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
</div>
</div>
<!--===================================-->
<!--*********-->
<!-- 載入js  -->
<!--*********-->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="js/scripts.js"></script>
<script src="js/jQueryRotate.js"></script>
</body>

</html>